# -------------------------
# Virtual environments
# -------------------------
honeypot/bin/
honeypot/lib/
honeypot/lib64/
honeypot/include/
honeypot/share/
honeypot/etc/
honeypot/pyvenv.cfg
.venv/
venv/
env/

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# Python cache / build
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pydist
*.egg-info/
build/
dist/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/
*.ipynb_convert/

# -------------------------
# IDE / editor configs
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# System files
# -------------------------
.DS_Store
Thumbs.db