# Virtual environment (don’t track Python venv files)
honeypot/
venv/
bin/
lib/
lib64/
share/

# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db